@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app,
.content {
    height: 100%;
    width: 100%;
    font-family: "Source Sans 3", sans-serif;
}
.app {
    display: flex;
    position: relative;
}

body {
    background-color: #f5f5f5;
    border-style: solid;
    border-color: coral;
}

::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #184c80;
}
/* Handle on Hover */
::-webkit-scrollbar-track:hover {
    background: #e0e0e0;
}
.slick-arrow:before {
    color: rgb(24, 76, 128) !important;
    font-size: 30px !important;
}
.slick-prev {
    transform: translate(-20px, 0px) !important;
}
