@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app,
.content {
    height: 100%;
    width: 100%;
    font-family: "Source Sans 3", sans-serif;
}
.app {
    display: flex;
    position: relative;
}

.ql-snow .ql-tooltip {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ql-container ul {
    list-style-type: disc !important;
    margin-left: 1.5em !important;
}
.ql-container ol {
    list-style-type: decimal !important;
    margin-left: 1.5em !important;
}

.ql-container {
    font-size: 1rem !important;
    line-height: 1.5 !important;
}

body {
    background-color: #f5f5f5;
    border-style: solid;
    border-color: coral;
}

.main .sidebarWrapper {
    height: 100vh;
}
.main .sidebarWrapper .sidebar {
    height: 100vh;
    background: #fff;
    overflow-y: scroll;
}
.main .sidebarWrapper .sidebar .sidebarTabs ul {
    width: 100%;
    margin-bottom: 0px;
}
.main .sidebarWrapper .sidebar .sidebarTabs ul li {
    list-style-type: none;
    width: 100%;
}

.main .sidebarWrapper .sidebar .sidebarTabs button {
    justify-content: flex-start !important;
    color: #5e5d72;
    text-transform: capitalize;
    font-weight: 500;
    padding: 2px 10px !important;
    position: relative;
}
.main .sidebarWrapper .sidebar .sidebarTabs button svg {
    font-size: 25px;
}
.main .sidebarWrapper .sidebar .sidebarTabs button .arrow {
    transition: all 0.4s;
}
.main .sidebarWrapper .sidebar .sidebarTabs button .arrow svg {
    font-size: 14px;
}

.main .sidebarWrapper .sidebar .sidebarTabs button:hover {
    background: #f1f1f1 !important;
}

.main .sidebarWrapper .sidebar .sidebarTabs button::before {
    content: "";
    width: 3px;
    height: 0%;
    position: absolute;
    top: 50%;
    left: -8px;
    background: #3872fa;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.3s;
    opacity: 0;
}
.main .sidebarWrapper .sidebar .sidebarTabs button:hover::before,
.main .sidebarWrapper .sidebar .sidebarTabs button.active::before {
    top: 0px;
    height: 100%;
    opacity: 1;
}
.main .sidebarWrapper .sidebar .sidebarTabs button .arrow.rotate {
    transform: rotate(90deg);
}
.main .sidebarWrapper .sidebar .sidebarTabs button.active,
.main .sidebarWrapper .sidebar .sidebarTabs button.active * {
    color: #3872fa !important;
}
.main .sidebarWrapper .sidebar .sidebarTabs li {
    position: relative;
}
.main .sidebarWrapper .sidebar .sidebarTabs li .submenu {
    position: relative;
    top: 100%;
    left: 0px;
    transition: all 0.3s;
    opacity: 0;
    height: 0;
    overflow: hidden;
}
.main .sidebarWrapper .sidebar .sidebarTabs li.colapse .submenu {
    height: auto;
    opacity: 1;
}
.main .sidebarWrapper .sidebar .sidebarTabs li .submenu button::before {
    display: none;
}
.main .sidebarWrapper .sidebar .sidebarTabs li .submenu button::after {
    content: "";
    width: 5px;
    height: 5px;
    background: #9f9f9f;
    border-radius: 100%;
    position: absolute;
    top: 47%;
    left: 8%;
}

.main .sidebarWrapper .sidebar .sidebarTabs li .submenu button {
    padding: 4px 20px 4px 40px !important;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5) !important;
    justify-content: flex-start !important;
}

.main .sidebarWrapper .sidebar .sidebarTabs li .submenuWrapper {
    transition: all 0.4s;
    height: 0px;
    overflow: hidden;
    opacity: 0;
}
.main
    .sidebarWrapper
    .sidebar
    .sidebarTabs
    li
    .submenuWrapper.colaped
    .submenu {
    opacity: 0;
}
.main .sidebarWrapper .sidebar .sidebarTabs li .submenuWrapper.colapse {
    height: auto;
    overflow: inherit;
    opacity: 1;
    padding: 10px 0px;
}
.main
    .sidebarWrapper
    .sidebar
    .sidebarTabs
    li
    .submenuWrapper.colapse
    .submenu {
    opacity: 1;
    height: auto;
}

.header {
    height: 60px;
    width: 85%;
}
.space {
    margin-top: 80px;
}
hr {
    border-width: 1px;
    border-color: #d9dbdd;
}

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    /* background: #e0e0e0; */
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #d9dbdd;
}

::-webkit-scrollbar-track:hover {
    background: #f3f3f3;
}
.slick-arrow:before {
    color: rgb(24, 76, 128) !important;
    font-size: 30px !important;
}
.slick-prev {
    transform: translate(-20px, 0px) !important;
}
